{{define "head"}}
{{end}}

{{define "styles"}}

<style>
</style>

{{end}}

{{define "content"}}

<div class="section" data-taos-offset="300">
  <div class="mockup-code w-full max-w-sm text-primary -translate-y-1/2 relative shadow-xl">
    <pre><code></code></pre>
    <pre data-prefix="$"><code>ssh beampaw.xyz help</code></pre>
    <pre><code></code></pre>
    <p class="text-lg absolute top-3 left-1/2 -translate-x-1/2 text-white">Quick start</p>
  </div>
</div>

{{end}}

{{define "scripts"}}
{{end}}
