{{define "fileDownload"}}

<a href="{{.DownloadURL}}" title="dowload file" target="_blank" id="download-btn">
  <div class="flex items-center gap-4 w-full p-4 bg-neutral-content rounded-lg text-neutral">

    <!-- file icon start -->
    <div
      class="w-[52px] h-[66px] font-bold text-lg rounded-lg p-2 flex items-end justify-center flex-shrink-0 relative rounded-tr-3xl overflow-hidden"
      style="background-color: {{.FileColor}}; color: color-mix(in srgb, {{.FileColor}} , black 50%)">
      <div class="w-[20px] h-[20px] absolute top-0 right-0 rounded-bl-lg"
        style="background-color: color-mix(in srgb, {{.FileColor}} , black 50%)">
      </div>
      {{.FileExtension}}
    </div>
    <!-- file icon end -->

    <!-- file name start -->
    <div class="w-full">
      <p class="text-md font-semibold">
        {{.FileName}}
      </p>
    </div>
    <!-- file name end -->

    <!-- download icon start -->
    <div class="self-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-arrow-big-down-dash">
        <path d="M15 5H9" />
        <path d="M15 9v3h4l-7 7-7-7h4V9h6z" />
      </svg>
    </div>
    <!-- download icon end -->

  </div>
</a>

<!-- file downloaded alert start -->
<div id="file-downloaded-alert" class="alert alert-success w-full flex justify-center font-medium text-lg hidden">
  <!-- check icon start -->
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check-circle-2">
    <circle cx="12" cy="12" r="10" />
    <path d="m9 12 2 2 4-4" />
  </svg>
  <!-- check icon end -->
  File Downloaded
</div>
<!-- file downloaded alert end -->

<script>

  const downloadBtn = document.getElementById('download-btn');
  const downloadAlert = document.getElementById('file-downloaded-alert');

  function removeDownloadButton() {
    downloadBtn.classList.add('hidden');
    downloadAlert.classList.remove('hidden');
  }

  downloadBtn.addEventListener('click', function () {
    removeDownloadButton();
  });

</script>


{{end}}
